.UserCell{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px dashed gray;
    margin-bottom: 5px;
    padding: 0.5rem;
}
.UserCell .Title{
    display: flex;
    justify-content: space-between;
    flex-grow: 4;
    margin-bottom: 1rem;
}
.UserCell .Title>span{
    font-size: 16px;
}
.UserCell .Body{
    margin-bottom: 1rem;
}
.UserCell .Body>span{
    font-size: 16px;
    flex-shrink: 1;
    padding: 5px;
}
.UserCell .Footer{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.UserCell .Footer>span{
    font-size: 16px;
}
.Ratings{
    display: flex;
    justify-content: space-between;
    width: 15rem;
}